
.animate {
    animation: shimmer 5s ease-in-out;
    animation-iteration-count: 1;
    background: linear-gradient(90deg, var(--dark) 50%, var(--dark)  70%, rgba(186,148,62,1) 72%, rgba(236,172,32,1) 75%, rgba(186,148,62,1) 79%, rgba(236,172,32,1) 82%, var(--dark) 100%);
    
    background-size: 2000px 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} 
.animate2 {
    animation: shimmer 7s;
    /* background-position: -1000px 0; */
    animation-iteration-count: 1;
    background: linear-gradient(90deg, var(--primary) 50%, rgba(236,172,32,1)   70%, rgba(186,148,62,.7) 72%, rgba(236,172,32,1) 75%, rgba(186,148,62,1) 79%,  var(--light) 100%);
    background-size: 1500px 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes shimmer {
    0% {
        background-position: 0px 100px;
   
    }  100% {
        background-position: 1000px 0;
    }
}


@keyframes entrarPorBaixo {
    0% {
        opacity: 0;
        transform: translate(-50%, 250%) 
    } 100% {
        opacity: 0.95;
        transform: translate(-50%, 0%) 
    }
}

@keyframes playerAnimation {
    0% {
        transform: translate(0%, 200%);
    } 100% {
        transform: translate(0%, 0%);
    }
}


@keyframes entrarPorCima {
    0% {
        transform: translate(0%, -100%) 
    } 100% {
        transform: translate(0%, 0%) 
    }
}

@keyframes esconderPlayer {
    0% {
        height: 34px;
        bottom: -4px;
    } 100% {
        height: 0;
        bottom: -50px;
    }

}

@keyframes mostraPlayer {
    0% {
        bottom: -50px;
    } 100% {
        bottom: -4px;
    }

}

@keyframes loading {
    0% {
      width: 0vw;
    }
  
    80% {
        width: 76vw;
    }
  
    100% {
        width: 100vw;
    }
  }

  @keyframes glow {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 100% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }


  @keyframes pulse {
    0% {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    70% {
        transform: scale(1.0);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    100% {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
