:root {
    --primary: #206b39;
    --primaryMore: #114522;
    --primaryMinus: #3c8554;

    --secundary: #153DB2;
    --secundaryMore: #001470;
    --secundaryMinus: #1E3BBD;

    --light: #fafafa;
    --lightMinus: rgb(255, 255, 255);
    --lightMore: rgb(240, 242, 241);

    --dark: #1C1414;
    --darkMinus: #423939;
    --textColor: #111111;

    --danger: #A01B15;
    --star: #DCA005;

    --playerBg: #CED9D2;

    --rgbLight: 250, 250, 250;
    --rgbLightMinus: 255, 255, 255;
    --rgbLightMore: 240, 242, 241;
    --rgbShadow: 0,0,0;

}

.dark-mode:root {
    --primary: #206B39;
    --primaryMore: #114522;
    /* --primaryMore: #24A63F; */
    --primaryMinus: #3c8554;

    --secundaryMore: hsla(207, 97%, 61%, 0.678);
    --secundaryMinus: 	hsl(208, 100%, 90%);
    --secundary: hsla(208, 96%, 73%, 0.856);

    --lightMinus: rgb(18, 18, 18);
    --light: rgb(22, 22, 22);
    --lightMore: rgb(28, 28, 28);

    --dark: #fafafa;
    --darkMinus: rgb(255, 255, 255);
    --textColor: #bdbdbd;

    --danger: #A01B15;
    --star: #ffe49f;

    --playerBg: #222020;

    --rgbLight: 22, 22, 22;
    --rgbLightMinus: 18, 18, 18;
    --rgbLightMore: 28,28, 28;
    --rgbShadow: 255,255,255;


    
}

.dark-mode a{
    color:var(--dark);
    font-weight: 500;
}


* {
    margin: 0; padding: 0;
    /* line-height: 18px; */
}
/* 
html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
    color: var(--textColor);
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Merienda';
    src: url('../fonts/Merienda-Light.ttf');
}

h1 {
    font-size: 34px;
    line-height: 52.8px;
}

h2 {
    font-size: 27px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
    line-height: 36.3px;
}

h4 {
    font-size: 19px;
    line-height: 33.6px;
}

h5 {
    font-size: 14px;
    line-height: 27.6px;
}

h6 {
    font-size: 12px;
    line-height: 24.7px;
}

button {
    user-select: none;
    -webkit-user-select: none;
    
}


.btn {
    padding: 3px 22px;
    border: 0px;
    border-radius: 8px;
    color: var(--lightMinus);
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}


.btn-circle {
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50px;
    padding: 3px 0px 0 3px;
    cursor: pointer;
}


.btn-primary {
    background-color: var(--primary) ;
}
.btn-primary:hover{
    background-color: var(--primaryMore);
    border: 0px;
}

.btn-primary-light {
    background-color: var(--light);
    color: var(--primary);
    border: var(--primary) 1px solid;
}
.btn-primary-light:hover {
    background-color: var(--lightMore);
    color: var(--primary)
}

.btn-secundary-light {
    background-color: var(--light);
    color: var(--secundary);
    border: var(--secundary) 1px solid;
}
.btn-secundary-light:hover {
    background-color: var(--lightMore);
    color: var(--secundary)
}

.btn-star {
    background-color: var(--lightMore) ;
    color: var(--star);
    border: 1px solid var(--star);
}
.btn-star:hover{
    background-color: var(--star);
    color: var(--lightMinus);
    border: 1px solid var(--star);
}
.btn-secundary {
    background-color: var(--secundary);
    color: var(--light);
}
.btn-secundary:hover{
    background-color: var(--secundaryMore);
}

.btn-dark {
    background-color: var(--dark);
}
.btn-dark:hover {
    background-color: var(--darkMinus);
}

.checkbox:checked {
    background-color: red;
}

input {
    border-radius: 5px;
    border: 1px #000 solid;
    padding: 5px;
}

textarea {
    border-radius: 5px;
    padding: 5px;
}

select {
    border-radius: 5px;
    border: var(--secundaryMinus) 1px solid;
    color: var(--secundary);
    padding: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}


.gold {
    display: block;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,196,0,1) 100%);
    opacity: 0.15;

}

.menu-principal {
    display: flex;
    justify-content: space-around;
    /* border-bottom: var(--primary) 3px solid ; */
    border-bottom: var(--lightMore) 3px solid ;
    font-size: 20px;
    color: var(--primary);
    line-height: 28px;
    background-color: var(--light);
    
}

/* .menu-principal.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 98vw;
    animation: entrarPorCima 800ms ease-in-out;

} */

.menu-logo {
    padding: 10px 0 0 20px;
    height: 64px;
    margin-right: 10vw;
    

}
.menu-links {
    /* width: 400px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 75px;
}
.menu-links li{
    /* background-color: red; */
    padding: 0px 20px;
    margin-top: 35px;
    cursor: pointer;
    /* display: none; */
}
.menu-links li:hover{
    border-bottom: var(--primaryMinus) 5px solid;
}

.profile-photo {
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
    margin-top: 17px;
}

/* ALEGRIAS */

.alegrias {
    position: relative;
    padding-bottom: 4px;
    overflow: hidden;
    opacity: 0.9;
    animation: loading 2s ;
  }
  
  
  .alegrias::before,
  .alegrias::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      rgba(56, 88, 3, 0.9),
      rgba(138, 201, 38, 0.9),
      rgba(138, 201, 38, 0.9),
      rgba(25, 129, 194, 0.9),
      rgba(0, 83, 134, 0.9),
      rgba(106, 76, 147, 0.9),
      rgba(255, 202, 58, 0.9),
      rgba(255, 103, 0, 0.9)
    );
    background-size: 400%;
    z-index: -1;
    animation: glow 30s linear infinite;
    width: 100%;
  }
  
  .alegrias::after {
    filter: blur(25px);
    transform: translate3d(0, 0, 0);
  }

  .keyboard {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: 12px;
    line-height: .85em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 7px;
    white-space: nowrap;
    background-color: var(--lightMore);
  }

  .tom-color {
        border: 2px solid #000000;
        background-color: #1E3BBD;
        /* border-radius: 30px; */
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
        min-width: 15px;
        color: white;
        text-align: center;
        /* box-shadow: 3px 3px 5px 0px #000; */
        box-shadow: 2px 2px black;
  }
