:root {
    --Pix: #00bdae;
    --Pix-text: #000;
    --PayPal: #002987;
    --PayPal-text: #FFF;
    --Bitcoin: #f7931a;
    --Bitcoin-text: #FFF;
    --Strike: #000000;
    --Strike-text: #f1f1f1;
    --Wise: #86e85a;
    --Wise-text: #1f4014;
}

/* ESTRUTURA MODAL */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal-campanha {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    max-width: 500px;
    width: 90%;
    position: relative;
    transform: scale(0.8);
    transition: transform 0.3s;
    display: block;
    max-height: 99vh;
    overflow: auto;
}
.modal-overlay.active .modal-campanha {
    transform: scale(1);
}
.close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: #666;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
}
.close-x:hover {
    background-color: #f0f0f0;
    color: #333;
}
.modal-content {
    padding:20px 30px;
}
.modal-type-container {
    display: flex;
    justify-content: space-between;
}
.modal-type-content {
    background-color: #333;
    padding: 3px 6px;
    color: #f1f1f1;
    font-weight: 600;
    display: table;
}

.modal-title {
    font-size: 21px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    padding: 0 0 0 3px;
    line-height: 30px;
    margin-left: 0px;

}
.modal-text {
    color: #333;
    line-height: 1.4;
    margin: 5px 0;
    padding-left: 5px;
    border-left: 7px solid var(--PayPal);
    /* background-color: #86e85a20; */
}
.modal-text p {
    font-size: 0.93em;
    line-height: 1.4;
    padding: 5px 0 5px 5px;
}
.modal-text p.paragrafo-especial {
    border-right: 7px solid var(--Wise);
    font-size: 00.88em;
    background-color: #f5f5f5;
    color: #000000;
    padding-right: 7px;
}
.highlight {
    /* background-color: #dce8ff;
    box-shadow: 2px 2px 4px #8f8f8f;
    color: #000;
    padding: 2px 3px;
    margin: -2px -3px;
    font-weight: 600; */
}
/* BUTTONS */

.modal-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-info {
    background-color: #068d4e;
    color: white;
}
.btn-info:hover {
    background-color: #23c862;
}
.btn-close {
    background-color: #6c757d;
    color: white;
}
.btn-close:hover {
    background-color: #545b62;
}

/* FLAGS */

.language-dropdown {
    position: relative;
    display: inline-block;
    float: left;
    margin: -13px 10px;
  }
  .dropdown-btn {
    background: none;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .arrow {
    margin-left: 6px;
    font-size: 1.3em;
    transition: transform 0.2s;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 44px;
    box-shadow: 0 2px 8px #0001;
    z-index: 10;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
  }
  .dropdown-content a {
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .dropdown-content a:hover {
    background: #f0f0f0;
  }
  .language-dropdown.open .dropdown-content {
    display: block;
  }
  .flag {
    width: 24px;
    height: 18px;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
    transform: scale(1);
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px #151a17;
    border: 1px solid #124b29;
    filter: grayscale(30%); 
  }

/* SPLASH */

.splash {
    width: 100%;
    height: 100%;
    /* background-color: #23c862; VERDE LINDO */
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0.95;
    border-radius: 12px;
    pointer-events: none;

    /* transition: opacity 3.5s; */
}
.splash-img {
    position: absolute;
    z-index: 1002;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.fadeInScaleUp {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    animation: fadeInScaleUp 0.5s ease-in-out forwards;
}
.fadeOutScaleDown {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    animation: fadeOutScaleDown 0.5s ease-in-out forwards;
}
.fadeOut {
    opacity: 0;
    transition: opacity 0.5s;
}
.fadeIn {
    opacity: 1;
}
@keyframes fadeInScaleUp {to {opacity: 1; transform: translate(-50%, -50%)  scale(1);}}
@keyframes fadeOutScaleDown {to {opacity: 0; transform: translate(-50%, -50%)  scale(0.4);}}

/* Mesmo que modal-diag */
.campanha-diag{
    min-width: 150px;
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--darkMinus);
    padding: 12px;
    font-size: 14px;
    z-index: 9998;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.8);
    color: var(--lightMinus);
    text-align: center;
    opacity: 0.95;
    animation: entrarPorBaixo 800ms ease-in-out;
}
@keyframes entrarPorBaixo {
    0% {
        opacity: 0;
        transform: translate(-50%, 250%) 
    } 100% {
        opacity: 0.95;
        transform: translate(-50%, 0%) 
    }
}

/* APOIO */

.apoio-metodo {
    display: flex;
    margin: 10px;
}
.apoio-metodo img {
    margin-right: 10px;
}
.metodo-principal {
    display: flex;
    /* display: none; */
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 20px;
    margin: 10px 0 5px;
    background-color: #f1f1f1;
    min-height: 150px;
    max-height: 150px;
    position: relative;
}
.metodo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    min-width: 210px;
    max-width: 210px;
    text-align: center;
}

.metodo-key {
    max-width: 220px;
    width: 210px;
    margin: 0 10px;
    word-break: break-word;
    border: 1px solid #CCC;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 2px 5px;
}

.metodo-key-content {
    display: none;
    font-size: 1em;
    position: absolute;
    bottom: 25px;
    margin: -15px 2px;
    word-break: break-word;
    border-right: 5px solid;
    background-color: #FFF;
    box-sizing: border-box;
    font-weight: 600;
    box-shadow: rgb(151, 151, 151) 4px 5px 6px;
}

.metodo-name2 {
    padding: 4px 7px;
    white-space: nowrap;
    font-size: 1.1em;
}
.metodo-key2 {
    padding: 4px 7px;
}
.metodo-details {
    color: #666;
    font-size: 0.8em;
}
.metodo-link {
    margin-top: 5px;
    font-size: 0.9em;

}
.metodos-icons {
    display: flex;
    margin-bottom: 10px;
}
.apoio-icon {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.9em;
}
.apoio-icon:hover {
    background-color: #f1f1f1;
}
.apoio-icon-selected {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}
.aviso-metodo {
    color: #333;
    font-size: 0.8em;
    margin: 10px;
}
.todos-metodos {
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
}
.whatsapp-link {
    color: #1f4014;
}
.whatsapp-link:hover {
    text-decoration: underline;
}

.lista-doadores {
    /* display: flex; */
    column-count: 2;
    gap: 20px;
    padding: 15px 20px;
    /* max-width: 100%; */
    border-right: 7px solid var(--Wise);
    font-size: 00.88em;
    background-color: #f5f5f5;
    color: #000000;
}
.lista-doadores > div {
    min-width: 200px;
    text-shadow: 2px 2px #FFF;
}

@media screen AND (max-width: 700px) {
    .modal-content {
        padding: 20px 15px;
    }
    .metodo-principal {
        margin-top: 15px;
        padding: 10px 10px 10px 10px;
    }
    .metodo-info {
        min-width:auto;
    }
    .metodo-info img {
        margin-right: 10px;
    }
    .metodo-key, .metodo-name, .apoio-icon span {
        display: none;
    }
    .metodo-key-content {
    display: flex;
    flex-direction: row;
    }
    .metodo-details img {
        width: 120px;
        margin-top: -5px;
        border: 0px solid;
    }
    .whatsapp-link {
        text-decoration: underline;
    }
    .lista-doadores {
        padding: 15px 10px;
    }

    
}

@media screen AND (max-width: 400px) {
    .lista-doadores {
        padding: 15px 5px;
        font-size: 0.8em;
    }
}

