@media screen and (max-width: 700px) {

.hinos {
    display: flex;
    flex-direction: column;
}


.hino {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-height: 550px;
    position: relative;
    width: 95%;
    background-color: var(--light);
    display: flex;
    flex-direction:column;
    float: none;
    padding: 20px 0px 5px 10px ;
    margin-bottom: 10px;
    line-height: 23px;
    background-clip: text;

  }
  /* .hino:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .hino:before {
    background: var(--lightMinus);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .hino:after {
    background: var(--lightMore);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  } */



/* .hino {
    background-color: var(--light);
    display: flex;
    flex-direction:column;
    min-width: 100%;
    float: none;
    padding: 50px 0px 30px 38px ;
    margin-bottom: 10px;
    line-height: 23px;

} */

.hino-in-focus {
    min-height: 89vh;
}

.header-hino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: var(--lightMore) 1px solid; */
    /* padding-bottom: 0.9em; */
}

.header-hino hr {
    border-top: var(--lightMore) 1px solid;
    border-bottom: var(--light);
    margin-bottom: 5px;
    margin-top: -5px;
    width: 80%;
    margin-left: 50px;
}

.header-hino-principal {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 20px;
}
.header-hino-buttons {
    float: left;
    /* width: 30vw; */
    /* text-align: center;
    align-self: center; */
    margin-right: 5px;
    margin-top: -8px;
}
.header-hino-buttons svg {
    width: 14px;
    height: 16px;
}
.header-hino-info {
    text-align: center;
    font-size: 14px;
    float: none;
    margin-left: -10px;
}

.main-titulo {
    font-size: 18px;
    width: 67%;
    text-align: center;
    line-height: 18px;
    float: none;
    color: var(--primary);
    padding-top: 0px;
    font-family: 'Merienda';

}
.mainTom {
    min-width: 45px;
    margin-left: auto;
    padding: 0 20px 0 8px;
    margin-top: -5px;
    white-space: nowrap;
    position: relative;

}

.transporBtn {
    border: 0;
    /* background-color: orange; */
    padding: 2px;
}



.main-ritmo {
    padding: 0px 7px;
}


.Marcha {
    background-color: rgba(144, 238, 144, 0.301);
}
.Valsa {
    background-color: rgba(135, 206, 250, 0.301);
}
.Mazurca {
    background-color: rgba(173, 134, 209, 0.301);
}

.main-canal {
    font-weight: 700;
    padding: 0px 5px;
    /* display: none; */


}

.main-oferta {
    text-align: center;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 14px;
    width: 90%;
}

.main-depe {
    background-color: rgba(255, 255, 83, 0.301);
    padding: 0px 7px;
    margin-left: 3px;
}

.main-hino {


}
.main-blocos {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 60px;
    font-family: 'Oswald';
    font-weight: 100;
    line-height: 24px;
}

.main-blocos:has(cifra){
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 60px;
    font-family: 'Oswald';
    font-weight: 100;
    line-height: 21px;
}

.new-line-height {
    line-height: 35px;
}

.bloco {
    /* flex-basis:; */
    min-width: 400px;
    width: 400px;
    margin-bottom: 1em;
    float: left;
    font-size: 18px;
    user-select: none;
    /* line-height: 23px; */

}

.bloco p {


}

.bloco2 {
    /* flex-basis:; */
    min-width: 310px;
    width: 400px;
    margin-bottom: 1em;
    float: left;
    font-size: 20px;
    line-height: 23px;
}


.hino-options {
    display: flex;
    line-height: 25px;
    padding-left: 0px;
    width: 90%;
    position: absolute;
    bottom: 5px;
}
.hino-options-btn {
    background-color: var(--lightMinus);
    padding: 4px 6px 4px 6px;
    border: var(--lightMinus) 0.5px solid;
    border-right: 3px solid var(--lightMinus);
    margin-right: 2px;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hino-options-btn:has(span) {
    padding: 5px 7px;
}
.hino-options-btn:nth-child(1) {border-bottom: orange 3px solid;}
.hino-options-btn:nth-child(2) {border-bottom: purple 3px solid; padding-top: 6px;}
.hino-options-btn:nth-of-type(3) {border-bottom: navy 3px solid;}

.cifra {
    color: var(--primary);
    font-weight: 600;
}

.cifra-control {
    /* background-color: var(--lightMore); */
    display: flex;
    /* line-height: 25px; */
    font-size: 9px;
    padding-left: 20px;
}
.cifra-control button {
    background-color: rgba(200,200,200,0.5);
    border: 0px;
}

.cifra-buttons {
    display: flex;
    align-items: center;
}
/* Seleciona todos os Filhos de cifra-buttons */
.cifra-buttons > * {
    padding: 5px 5px;
}

.verCifraDiv {
    font-size: 11px;
    line-height: 8px;
    display: flex;
    flex-direction: column;
}

cifrador {
    font-size: 13px;
    font-weight: 400;
    min-width: 100px;
    text-align: center;
}

.cifra-user {
    align-items: center;
}
.cifra-user-foto > img {
    transform: scale(1.4) translateY(3px);
    max-height: 100%;
    border-radius: 5px;
}
.cifra-user-foto {
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}

.new-cifra-input {
    border-radius: 0;
    background-color: var(--lightMinus);
    border: 0px;
    font-size: 18px;
    padding: 0px;
    color: var(--secundaryMinus);
    font-weight: 600;
    font-family: 'Oswald';
    width: 75vw;
    max-width: 250px;
    line-height: 21px;

}
.tonalidade-cifra {
    color: var(--secundaryMinus);
}
.tonalidade-group {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    font-size: 14px;
    justify-content: space-between;
    background-color: var(--lightMore);
    padding: 7px 10px 0 10px;

}

.todas-tonalidades-btn{
    border: 1px solid #CCC;
    padding: 4px;
    margin-bottom: 5px;
}

.radio-button {
    min-width: 40px;
}

.before-cifra {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    gap:20px;
}
.btn-cifrar {
    line-height: 21px;
    display: flex;

}

.invisible {
    display: none;
}

/* MENUS DOS HINOS */
.hino-menu {
    position: absolute;
    transform: translateY(-98%);
}

.hino-menu-opcoes {
    width: 50%;
    border-left: 10px orange solid;
    color: rgba(var(--rgbShadow),0.3);
}
.hino-menu-audios {
    max-width: 85%;
    left: 45px;
    border-left: 10px purple solid;
}


.hino-menu li {
    display: flex;
    list-style: none;
    padding: 6px 5px;
    margin-top: 3px;
    background: rgba(var(--rgbLightMinus), 0.95);
    border-radius: 5px;
    box-shadow: 10px 4px 14px 0px rgb(0 0 0 / 40%);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
}
.hino-menu li:active {
    background-color: #000;
}
.hino-menu li > img {
    padding: 0px 4px;
}

}