@media screen and (min-width: 701px) {

.hinos {
    display: flex;
    flex-direction: column;
}




  .hino {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-height: 550px;
    position: relative;
    width: 95%;
    background-color: var(--light);
    display: flex;
    flex-direction:column;
    float: none;
    padding: 20px 0px 5px 10px ;
    margin: 10px 0px 10px 20px;
    line-height: 23px;
    background-clip: text;
  }
  .hino-in-focus {
    min-height: 85vh;
}
  .header-hino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: var(--lightMore) 1px solid; */
    /* padding-bottom: 0.9em; */
}
.header-hino hr {
    border-top: var(--lightMore) 1px solid;
    border-bottom: var(--light);
    margin-bottom: 5px;
    margin-top: -5px;
    width: 30%;
    margin-left: 90px;
}

.header-hino-principal {
    display: flex;
    align-items: baseline;
    /* justify-content: center; */
    padding-bottom: 8px;
    padding-left: 30px;
}
.header-hino-buttons {
    float: left;
    /* width: 30vw; */
    /* text-align: center;
    align-self: center; */
    margin-right: 5px;
    margin-top: -15px;
}
.header-hino-buttons svg {
    width: 20px;
    height: 22px;
}
.header-hino-info {
    text-align: center;
    font-size: 14px;
    float: none;
    margin-left: 70px;
    width: 400px;
}

.main-titulo {
    font-size: 26px;
    text-align: center;
    line-height: 33px;
    float: none;
    color: var(--primary);
    padding-top: 0px;
    width: 30vw;
    min-width: 400px;
    font-family: 'Merienda';
}
.mainTom {
    min-width: 45px;
    padding: 0 20px 0 8px;
    margin-top: -5px;
    white-space: nowrap;
    position: relative;
    font-size: 21px;

}

.transporBtn {
    border: 0;
    /* background-color: orange; */
    padding: 2px;
}


.main-ritmo {
    padding: 0px 7px;
}

.Marcha {
    background-color: rgba(144, 238, 144, 0.301);
}
.Valsa {
    background-color: rgba(135, 206, 250, 0.301);
}
.Mazurca {
    background-color: rgba(173, 134, 209, 0.301);
}

.hino-play-btn {
    width: 40px;
    height: 40px;
}
.main-canal {
    /* font-weight: 700; */
    padding: 0px 5px;
    /* display: none; */
}

.main-oferta {
    text-align: center;
    margin-left: 40px;
    margin-top: -5px;
    font-size: 14px;
    width: 40%;
}

.main-depe {
    background-color: rgba(255, 255, 83, 0.301);
    padding: 0px 7px;
    margin-left: 3px;
}

.main-blocos {
    display: flex;
    margin-top: 14px;
    margin-bottom: 70px;
    font-family: 'Oswald';
    font-weight: 100;
    line-height: 35px;


}

.main-blocos:has(cifra){
    display: flex;
    margin-top: 14px;
    font-family: 'Oswald';
    font-weight: 100;
    line-height: 21px;
}

.new-line-height {
    line-height: 35px;
}

.bloco {
    /* flex-basis:; */
    min-width: 400px;
    width: 400px;
    margin-bottom: 1em;
    float: left;
    font-size: 20px;
    /* line-height: 23px; */
    user-select: none;

}

.bloco2 {
    /* flex-basis:; */
    min-width: 310px;
    width: 400px;
    margin-bottom: 1em;
    float: left;
    font-size: 20px;
    line-height: 23px;
}

.hino-options {
    display: flex;
    line-height: 25px;
    padding-left: 20px;
    width: 90%;
    position: absolute;
    bottom: 10px;
    
}
.hino-options-btn {
    background-color: var(--lightMinus);
    padding: 4px 6px 4px 6px;
    border: var(--lightMinus) 0.5px solid;
    border-right: 3px solid var(--lightMinus);
    margin-right: 2px;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.hino-options-btn:has(span) {
    padding: 5px 7px;
}
.hino-options-btn:nth-child(1) {border-bottom: orange 3px solid;}
.hino-options-btn:nth-child(2) {border-bottom: purple 3px solid; padding-top: 6px;}
.hino-options-btn:nth-of-type(3) {border-bottom: navy 3px solid;}
.cifra {
    color: var(--primary);
    font-weight: 600;
}

.cifra-control {
    /* background-color: var(--lightMore); */
    display: flex;
    /* line-height: 25px; */
    font-size: 9px;
    padding-left: 20px;
}
.cifra-control button {
    background-color: rgba(200,200,200,0.5);
    border: 0px;
}

.cifra-buttons {
    display: flex;
    align-items: center;
}
/* Seleciona todos os Filhos de cifra-buttons */
.cifra-buttons > * {
    padding: 5px 8px;
}

.verCifraDiv {
    font-size: 11px;
    line-height: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border-right: 2px solid var(--light);
}

cifrador {
    font-size: 15px;
    font-weight: 400;
    min-width: 100px;
    text-align: center;
}

.cifra-user {
    align-items: center;
}
.cifra-user-foto > img {
    transform: scale(1.4) translateY(3px);
    max-height: 100%;
    border-radius: 5px;
}
.cifra-user-foto {
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-right: 7px;

}

.new-cifra-input {
    border-radius: 0;
    background-color: var(--lightMinus);
    border: 0px;
    font-size: 20px;
    padding: 0px;
    color: var(--secundaryMinus);
    font-weight: 600;
    font-family: 'Oswald';
    width: 80%;
    line-height: 21px;

}
.tonalidade-cifra {
    color: var(--secundaryMinus);
}
.tonalidade-group {
    display: flex;
    width: 700px;
    justify-content: space-between;
    background-color: var(--lightMore);
    padding: 7px 10px 0 10px;

}
.radio-button {
    min-width: 40px;
}

.invisible {
    display: none;
}

/* MENUS DOS HINOS */
.hino-menu {
    position: absolute;
    transform: translateY(-100%);
}

.hino-menu-opcoes {
    min-width: 30%;
    border-left: 10px orange solid;
    color: rgba(var(--rgbShadow),0.3);

}
.hino-menu-audios {
    max-width: 60%;
    left: 62px;
    border-left: 10px purple solid;
}


.hino-menu li {
    display: flex;
    list-style: none;
    padding: 5px 20px;
    margin-top: 3px;
    background: rgba(var(--rgbLightMinus), 0.95);
    border-radius: 5px;
    box-shadow: 10px 4px 14px 0px rgb(0 0 0 / 40%);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    cursor: pointer;
}
.hino-menu li:active {
    background-color: purple;
}
.hino-menu li:hover {
    background-color: var(--lightMore);
}

}